@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css);
.home-container {
    margin-top: 10mm !important;
    padding-top: 5mm !important;
    padding-bottom: 5mm !important;
    border-radius: 2mm !important;
}

.view-container {
    margin-top: 10mm !important;
    padding: 3% 3% !important;
    border-radius: 2mm !important;
}

.createForm {
    margin-top: 2mm !important;
}

.card-alert {
    padding-top: 1mm !important;
    padding-bottom: 1mm !important;
}

.alert-content {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-top: 1mm !important;
    margin-bottom: 1mm !important;
}

.input-field label {
    font-size: 20px !important;
    color: #616161 !important;
}

.post-item p {
    width: 90% !important;
}

@media screen and (min-width:993px) {
    .brand-logo {
        margin-left: 2mm !important;
    }
}